<!-- <form class="form-inline" id="myForm"> -->
  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new record</button>
<!-- </form> -->
<%- include ('stats-form.ejs') %> 
<div class="container">
  <input class="form-control mb-4" id="tableSearch" type="text"
    placeholder="Filter stats by location">
<table class="table table-dark" id="table">
  <thead>
  <tr>
      <th scope="col">#</th>
      <th scope="col">Time</th>
      <th scope="col">Location</th>
      <th scope="col">Continent</th>
      <th scope="col">Infected</th>
      <th scope="col">Death</th>
      <th scope="col">Recovered</th> 
  </tr>
  </thead>
  <tbody>
      <% Object.values(stats).forEach(stat => { %> 
          <tr>
          <td id="record-id"><%= stat.id %></td>  
          <td><%= new Date(stat.timestamp).toGMTString().slice(0,-4) %></td>
          <td><%= stat.poiName %></td>
          <td><%= stat.continent %></td>
          <td><%= stat.infected %></td>
          <td><%= stat.death %></td>
          <td><%= stat.recovered %></td>
          <td><button id="edit-btn">Edit</button></td>
          <td><button id="delete-btn">Delete</button></td>
          
          </tr>
            <% }) %>
  </tbody>
</table>
</div>
<script defer>
  //show form
  $('#myForm').on('submit', function(e){
  $('#myModal').modal('show');
  e.preventDefault();
});
const addBtn = document.querySelector('#add-btn');
const destroy = document.querySelectorAll('#delete-btn');
const table = document.querySelector('#table'); 


addBtn.addEventListener('click',onAdd); 
destroy.forEach(element => {
  element.addEventListener('click',onDelete)
}); 

async function onDelete(event) {
  // console.log(event.currentTarget);
    const message = confirm('are you sure to delete?');
  if(message) {
    const tableRow = event.currentTarget.parentNode.parentNode;
    const rowIndex = +tableRow.rowIndex
    // console.log(typeof rowIndex);
    // console.log(table);
    table.deleteRow(rowIndex);
    const recordId = tableRow.querySelector('#record-id').innerHTML;
    const response = await fetch(`/admin/records/delete/${+recordId}`,{
      method: 'DELETE'
    });
    console.log(response);
  }
}

async function onAdd(e) {
  e.preventDefault(); 
  const record = getRecordData(); 
  // console.log(record);
  const response = await fetch('/admin/records/add', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(record)
    }); 
  
   console.log(response); 
}

//get new record from admin
function getRecordData() {
  const poiID = document.querySelector('#poi-id').value;
  const time  = document.querySelector('#timestamp').value;
  const infected = document.querySelector('#infected').value;
  const death= document.querySelector('#death').value;
  const recovered= document.querySelector('#recovered').value;
  const record = {
    poi_id : +poiID, 
    time : new Date(+time),
    infected : +infected, 
    death : +death, 
    recovered : +recovered
  }
  return record; 
}

const searchBox = document.querySelector('#tableSearch');
searchBox.addEventListener('input',onSearch); 
//filter stats by location
function onSearch() {
  const input = document.querySelector('#tableSearch').value.toUpperCase(); 
  const tr = table.getElementsByTagName('tr'); 
  // console.log(tr);
  // console.log(input);
  for(let i = 0 ; i < tr.length ; i++){
    const td = tr[i].getElementsByTagName('td')[2];
    if(td) {
      textValue = td.innerText
      if (textValue.toUpperCase().indexOf(input) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }   
  }  
}



</script>