<div class="vietnamStats-warpper" style="width: 100%;">
    <h5 class="title">Vietnamese statistics</h5>
        <div class="stats" id="vietnamStats">
        <% recordVN.forEach(recordVN => { %> 
            <div class="data-vn">
                <div class="stats-name"><%- `Infected: ` %></div> 
                <div class="infected" id="infected-vn"><%- `${recordVN.infected}` %></div>
            </div>
            <div class="data-vn">
                <div class="stats-name"><%- `Death: ` %></div> 
                <div class="death" id="death-vn"><%- `${recordVN.death}` %></div>
            </div>
            <div class="data-vn">
                <div class="stats-name"><%- `Recovered: ` %></div> 
                <div class="recovered" id="recovered-vn"><%- `${recordVN.recovered}` %></div>
            </div>

        </div>
    <% }) %>
</div>
