<div class="vietnamStats-warpper" >
    <h5 class="title">VietNam Latest statistic</h5>
        <div class="stats" id="vietnamStats">
        <% recordVN.forEach(recordVN => { %> 
            <!-- <div class="data-vn">
                <div class="stats-name"><%- `Date: ` %></div> 
                <div class="timestamp" id="timestamp-vn"><%- `${recordVN.timestamp}` %></div>
            </div> -->
            <!-- <div><%- `Date: ${recordVN.timestamp}` %></div> 
            <div><%- `Viet name has` %></div> -->
            <div class="data-vn">
                <div class="stats-name"><%- `Infected: ` %></div> 
                <div class="infected" id="infected-vn"><%- `${recordVN.infected}` %></div>
            </div>
            <div class="data-vn">
                <div class="stats-name"><%- `Death: ` %></div> 
                <div class="death" id="death-vn"><%- `${recordVN.death}` %></div>
            </div>
            <div class="data-vn">
                <div class="stats-name"><%- `Recovered: ` %></div> 
                <div class="recovered" id="recovered-vn"><%- `${recordVN.recovered}` %></div>
            </div>
            <!-- <span><%- `${recordVN.infected}` %></span>
            <span><%- `${recordVN.death}` %></span>
            <span><%- `${recordVN.recovered}` %></span> -->
        </div>
    <% }) %>
</div>
